/* сброс стилей браузера */
* { box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* конец кода сброса стилей браузера */
/* шрифты старт */
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'MullerRegular';
    src: url('/fonts/MullerRegular.otf');
}
/* шрифты конец */
/* хэдер старт */
.header-wrapper.container-fluid{
    display: flex;
    flex-wrap: nowrap;
    max-width: 1300px;
    background-color: #454545;
    color: #ffffff;
    width: 100%;
    height: 70px;
}
.header-row{
    width: 1300px;
}
.header.container{
    display: flex;
}
.header__logo {
    display: flex;
    padding-top: 1.4rem;
    margin-right: -45px;
}
.header__logo__img {
    background: url(/img/logo__main.png) center center / 100% no-repeat;
    width: 143px;
    height: 31px;
    margin-right: 13px;
}
.header__logo__line {
    background-color: #d74b4b;
    width: 2px;
    height: 28px;
    margin-right: 15px;
}
.header__logo__text {
    width: 11rem;
    /* height: 45px; */
    /* margin-right: 5.7rem;*/
 }
.header__logo__text p {
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-size: .7em;
    transform: translateY(-.5em);
}
.header__search-wrapper {
    width: 70px;
    height: 70px;
}
.header__search {
    background: url(/img/search.png) no-repeat center center / 22%, linear-gradient(to top, #dd9b07, #fbc024);
    width: 70px;
    height: 70px;
}
.header__search:hover {
     /*width: 93px;
     height: 93px;
     background: url(/img/search.png) no-repeat center center / 22% red;
 */}
.header__address-wrapper{
    width: 145px;
    height: 30px;
}
.header__address {
    background: url(/img/place.png) no-repeat 0rem 1.4rem / 9%;
    /* padding-left: 2rem; */
    padding-top: 1.2rem;
    font-family: OpenSans-Regular;
    font-size: .7em;
    margin-left: 57px;
}
.header__address p {
    text-align: left;
    padding-left: 1rem;
}
.header__contacts-wrapper{
    width: 125px;
    height: 50px;
    margin-right: 10px;
}
.header__contacts {
    background: url(/img/phone.png) no-repeat left 1.6em / 9%, url(/img/watsup.png) no-repeat left 3.7em/ 9%;
    font-family: OpenSans-SemiBold;
    font-size: .7em;
    /* margin-left: 30px; */
    height: 61px;
}
.header__contacts p {
    padding-left: 2.2em;
}
.header__contacts p:nth-of-type(1) {
    padding-top: 13px;
}
.header__contacts p:nth-of-type(3) {
    padding-top: 5px;
}
.header__feedback-wrapper {
    padding-top: 7px;
}
.header__feedback {
    background: url(/img/mail__header.png) no-repeat 1.3rem center / 18%, linear-gradient(to top, #dd9b07, #fbc024);
    color: #000000;
    border-radius: 4px;
    width: 196px;
    height: 56px;
}
.header__feedback p {
    padding-left: 4.5rem;
}
.header__feedback p:nth-of-type(1) {
    padding-top: 1rem;
    font-family: MullerRegular;
    font-size: .7em;
}
.header__feedback p:nth-of-type(2) {
    font-family: OpenSans-Regular;
    font-size: .7em;
}

.header__gamburger {
    background: url(/img/burger.png) no-repeat center center / 39px 34px;
    width: 39px;
    margin-left: 20px;
}
/* хэдер конец */
