/* сброс стилей браузера */
* { -webkit-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.2;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol {
    padding-left: 1.4em;
    list-style: decimal;
}
ul {
    padding-left: 1.4em;
    list-style: square;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/* конец кода сброса стилей браузера */
/* общие стили старт */
body {
    background-color: #f4f8fa;
}
/* общие стили конец */
/* шрифты старт */
@font-face {
    font-family: 'OpenSans-Light';
    src: url('/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/fonts/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/fonts/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'MullerRegular';
    src: url('/fonts/MullerRegular.otf');
}
@font-face {
    font-family: 'MullerMedium';
    src: url('/fonts/MullerMedium.otf');
}
/* шрифты конец */
/* хэдер старт */
.header-wrapper.container-fluid {
    background-color: #454545;
    color: #ffffff;
    height: 70px;
}
.header-row, .footer-row{
   flex-wrap: nowrap;
}
.header.container-fluid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header__logo, .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1.4rem;
}
.header__logo__img, .footer__logo__img {
    background: url(/img/logo__main.png) center center / 100% no-repeat;
    width: 143px;
    height: 31px;
    margin-right: 13px;
}
.header__logo__line, .footer__logo__line {
    background-color: #d74b4b;
    width: 2px;
    height: 28px;
    margin-right: 15px;
}
.header__logo__line{
    display: block;
}
.header__logo__text{
    display: block;
}
.header__logo__text, .footer__logo__text {
    width: 11rem;
}
.header__logo__text p, .footer__logo__text p {
    text-transform: uppercase;
    font-family: OpenSans-Regular;
    font-size: .7em;
    -webkit-transform: translateY(-.5em);
        -ms-transform: translateY(-.5em);
            transform: translateY(-.5em);
}
.header__search-wrapper {
    height: 70px;
}
.header__search {
    background: url(/img/search.png) no-repeat center center / 22%, -webkit-gradient(linear, left bottom, left top, from(#dd9b07), to(#fbc024));
    background: url(/img/search.png) no-repeat center center / 22%, -webkit-linear-gradient(bottom, #dd9b07, #fbc024);
    background: url(/img/search.png) no-repeat center center / 22%, -o-linear-gradient(bottom, #dd9b07, #fbc024);
    background: url(/img/search.png) no-repeat center center / 22%, linear-gradient(to top, #dd9b07, #fbc024);
    width: 70px;
    height: 70px;
}
.header__search:hover {
     /*width: 93px;
     height: 93px;
     background: url(/img/search.png) no-repeat center center / 22% red;
 */}
.search-form{
    display: none;
    position: absolute;
    top: 100%;
    left: -4rem;
}
.header__address-wrapper{
    height: 30px;
}
.header__address {
    background: url(/img/place.png) no-repeat 0rem 1.4rem / 1rem;
    padding-top: 1.2rem;
    font-family: OpenSans-Regular;
    font-size: .65em;
}
.header__address p {
    text-align: left;
    padding-left: 1.6rem;
}
.header__contacts-wrapper {
    height: 50px;
    padding-right: 0rem;
    padding-left: 0rem;
}
.header__contacts {
    background: url(/img/phone.png) no-repeat left 1.6em / 1rem, url(/img/watsup.png) no-repeat left 3.7em/ 1rem;
    font-family: OpenSans-SemiBold;
    font-size: .53em;
    height: 61px;
}
.header__contacts p{
    padding-left: 2.8em;
}
.footer__contacts p {
    padding-left: .6em;
}
.header__contacts p:nth-of-type(1) {
    padding-top: 13px;
}
.header__contacts p:nth-of-type(3) {
    padding-top: 5px;
}
.header__feedback-wrapper {
    padding-top: 7px;
}
.btn.header__feedback {
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -webkit-gradient(linear, left bottom, left top, from(#dd9b07), to(#fbc024));
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -webkit-linear-gradient(bottom, #dd9b07, #fbc024);
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -o-linear-gradient(bottom, #dd9b07, #fbc024);
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, linear-gradient(to top, #dd9b07, #fbc024);
    color: #000000;
    border-radius: 4px;
    width: 10rem;
    height: 3.4rem;
}
.btn.header__feedback:hover {
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -webkit-gradient(linear, left bottom, left top, from(#fbc024), to(#dd9b07));
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -webkit-linear-gradient(bottom, #fbc024, #dd9b07);
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -o-linear-gradient(bottom, #fbc024, #dd9b07);
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, linear-gradient(to top, #fbc024, #dd9b07);
    color: #ffffff;
    border-color: #ffffff;
}
.btn.header__feedback:active {
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -webkit-gradient(linear, left bottom, left top, from(#dd9b07), to(#fbc024)) !important;
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -webkit-linear-gradient(bottom, #dd9b07, #fbc024) !important;
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, -o-linear-gradient(bottom, #dd9b07, #fbc024) !important;
    background: url(/img/mail__header.png) no-repeat 1rem center / 18%, linear-gradient(to top, #dd9b07, #fbc024) !important;
    color: #ffffff;
    border-color: #000000;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.header__feedback p {
    padding-left: 2.6rem;
}
.header__feedback p:nth-of-type(1) {
    font-family: MullerRegular;
    font-size: .65em;
}
.header__feedback p:nth-of-type(2) {
    font-family: OpenSans-Regular;
    font-size: .7em;
}

.header__gamburger {
    background: url(/img/burger.png) no-repeat 4rem center / 39px 34px;
}
/* хэдер конец */
/* навигация/табы */
.content-wrapper.container-fluid {
   margin-bottom: 2rem;
    margin-top: 2rem;
}
.metalStructuresCards{
    display: none;f.navigation__tablets
}
.navigation.row {
    height: 154px;
    font-family: MullerMedium;
    font-size: 1.6em;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 0rem;
    z-index: 2;
}
.navigation__tablets__line, .navigation__metalStructures__line {
    height: 9px;
    background: -webkit-gradient(linear, left bottom, left top, from(#b01f5b), to(#df4a4a));
    background: -webkit-linear-gradient(bottom, #b01f5b, #df4a4a);
    background: -o-linear-gradient(bottom, #b01f5b, #df4a4a);
    background: linear-gradient(to top, #b01f5b, #df4a4a);
    position: absolute;
}
.navigation__tablets__line {
    width: 89.8%;
    top: 89%;
    left: 6%;
}
.navigation__metalStructures__line{
    width: 94.8%;
    top: 94%;
    left: 0%;
    display: none;
}
.cards-btn {
    background: -webkit-gradient(linear, left bottom, left top, from(#ae2364), to(#db4d53));
    background: -webkit-linear-gradient(bottom, #ae2364, #db4d53);
    background: -o-linear-gradient(bottom, #ae2364, #db4d53);
    background: linear-gradient(to top, #ae2364, #db4d53);
    color: #ffffff;
    font-family: MullerRegular;
    font-size: .9em;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    border: 0px solid #c43d64;
    width: 86%;
    height: 2rem;
    margin-left: 8%;
    margin-bottom: .5rem;
}
.tabletsCards__item1, .tabletsCards__item2, .tabletsCards__item3, .tabletsCards__item4, .tabletsCards__item5, .tabletsCards__item6, .tabletsCards__item7, .tabletsCards__item8, .metalStructuresCards__item {
    width: 21%;
    margin: .6rem;
    margin-left: 1%;
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,.1);
            box-shadow: 0px 0px 7px 3px rgba(0,0,0,.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.tabletsCards__item1:hover, .tabletsCards__item2:hover, .tabletsCards__item3:hover, .tabletsCards__item4:hover, .tabletsCards__item5:hover, .tabletsCards__item6:hover, .tabletsCards__item7:hover, .tabletsCards__item8:hover, .metalStructuresCards__item:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}
.tabletsCards__icon__effect1, .tabletsCards__icon__effect1, .tabletsCards__icon__effect2, .tabletsCards__icon__effect3, .tabletsCards__icon__effect4, .tabletsCards__icon__effect5, .tabletsCards__icon__effect6, .tabletsCards__icon__effect7, .tabletsCards__icon__effect8 {
    display: none;
    background-color: rgba(0, 0, 0, 0.56);
    height: 159px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}
.tabletsCards__item1 p, .tabletsCards__item2 p, .tabletsCards__item3 p, .tabletsCards__item4 p, .tabletsCards__item5 p, .tabletsCards__item6 p, .tabletsCards__item7 p, .tabletsCards__item8 p, .metalStructuresCards p {
    font-family: OpenSans-Light;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    padding-top: .4rem;
    padding-bottom: 0.4rem;
}
.navigation__metalStructures, .navigation__tablets {
    cursor: pointer;
}
.tabletsCards__icon__effect2 p {
    color: #ffffff;
    text-align: left;
    padding: .5rem;
    font-size: .7em;
    font-family: OpenSans-Regular;
}
.tabletsCards__item1__icon {
    background: url(/img/tablets-icon1.png) no-repeat center center / 50%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon1.png) no-repeat center center / 50%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon1.png) no-repeat center center / 50%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon1.png) no-repeat center center / 50%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item2__icon {
    background: url(/img/tablets-icon2.png) no-repeat center center / 50%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon2.png) no-repeat center center / 50%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon2.png) no-repeat center center / 50%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon2.png) no-repeat center center / 50%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item3__icon {
    background: url(/img/tablets-icon3.png) no-repeat center center / 31%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon3.png) no-repeat center center / 31%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon3.png) no-repeat center center / 31%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon3.png) no-repeat center center / 31%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item4__icon {
    background: url(/img/tablets-icon4.png) no-repeat center center / 31%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon4.png) no-repeat center center / 31%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon4.png) no-repeat center center / 31%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon4.png) no-repeat center center / 31%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item5__icon {
    background: url(/img/tablets-icon5.png) no-repeat center center / 11%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon5.png) no-repeat center center / 11%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon5.png) no-repeat center center / 11%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon5.png) no-repeat center center / 11%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item6__icon {
    background: url(/img/tablets-icon6.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon6.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon6.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon6.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item7__icon {
    background: url(/img/tablets-icon7.png) no-repeat center center / 31%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon7.png) no-repeat center center / 31%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon7.png) no-repeat center center / 31%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon7.png) no-repeat center center / 31%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item8__icon {
    background: url(/img/tablets-icon8.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon8.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon8.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon8.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item1__icon{
    background: url(/img/metalStructures-icon1.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/metalStructures-icon1.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon1.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon1.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item2__icon {
    background: url(/img/metalStructures-icon2.png) no-repeat center center / 39%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/metalStructures-icon2.png) no-repeat center center / 39%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon2.png) no-repeat center center / 39%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon2.png) no-repeat center center / 39%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item3__icon{
    background: url(/img/metalStructures-icon3.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/metalStructures-icon3.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon3.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon3.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item4__icon{
    background: url(/img/metalStructures-icon4.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/metalStructures-icon4.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon4.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon4.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item5__icon{
    background: url(/img/metalStructures-icon5.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/metalStructures-icon5.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon5.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/metalStructures-icon5.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item6__icon{
    background: url(/img/tablets-icon3.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon3.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon3.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon3.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item7__icon{
    background: url(/img/tablets-icon1.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon1.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon1.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon1.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.metalStructuresCards__item8__icon{
    background: url(/img/tablets-icon4.png) no-repeat center center / 30%, -webkit-gradient(linear, left bottom, left top, from(#d9d9d9), to(#f7f7f7));
    background: url(/img/tablets-icon4.png) no-repeat center center / 30%, -webkit-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon4.png) no-repeat center center / 30%, -o-linear-gradient(bottom, #d9d9d9, #f7f7f7);
    background: url(/img/tablets-icon4.png) no-repeat center center / 30%, linear-gradient(to top, #d9d9d9, #f7f7f7);
    height: 159px;
}
.tabletsCards__item__line {
    height: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#c05a8f), to(#d54756));
    background: -webkit-linear-gradient(bottom, #c05a8f, #d54756);
    background: -o-linear-gradient(bottom, #c05a8f, #d54756);
    background: linear-gradient(to top, #c05a8f, #d54756);
}
.navigation__tablets {
    background: url(/img/tablets-nav.png) no-repeat 123% 1rem/ 95%;
    width: 100%;
    height: 137px;
    margin-right: 4%;
    /* margin-bottom: 1%; */
    /* margin-top: 3%; */
    display: flex;
    justify-content: center;
    align-items: center;
    }
.navigation__tablets__wrapper{
    /*background: url(/img/tablets-nav.png) no-repeat 123% 1rem/ 95%;*/
    width: 50%;
    background-color: #ffffff;
    position: relative;
    -webkit-box-shadow: 0px -4px 3px 2px rgba(0,0,0,.1);
    box-shadow: 0px -4px 3px 2px rgba(0,0,0,.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.navigation__metalStructures {
   /* background: url(/img/metall-nav.png) no-repeat left 1rem/ 95%;
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;*/
}
.navigation__metalStructures__wrapper {
    background: url(/img/metall-nav.png) no-repeat left 1rem/ 95%;
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.tabletsCards, .metalStructuresCards {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
            box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.tabletsCards{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.metalStructuresCards{
    display: none;
}
/* навигация/табы конец */
/* о компании старт */
.aboutUs.container-fluid {
    margin-bottom: 2rem;
}
.aboutUs.row {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
}
.aboutUs__H1-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.aboutUs__H1 {
    padding-top: 2rem;
    text-transform: uppercase;
    font-family: OpenSans-SemiBold;
    font-size: 1.2em;
}
.aboutUs__H2 {
    font-family: OpenSans-SemiBold;
    font-size: .9em;
    padding-bottom: .7rem;
}
.aboutUs__line{
    width: 44px;
    height: 3px;
    background-color: #d74b4b;
    margin-bottom: 1rem;
}
.aboutUs__icons div:nth-of-type(1), .aboutUs__icons div:nth-of-type(2), .aboutUs__icons div:nth-of-type(3) {
    margin-right: 3rem;
}
.aboutUs__icons.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
    font-family: OpenSans-Regular;
    font-size: .8em;
}
.aboutUs__text.row span {
    font-weight: 700;
}
.aboutUs__text.row p:nth-of-type(1), p:nth-of-type(3) {
    padding-bottom: 1rem;
}
.aboutUs__text.row p:nth-of-type(7) {
    padding-bottom: 3rem;
}
.aboutUs__icons__item1, .aboutUs__icons__item2, .aboutUs__icons__item3, .aboutUs__icons__item4 p {
    text-align: left;
    padding-left: 3.6rem;
}
.aboutUs__icons__item1, .aboutUs__icons__item2, .aboutUs__icons__item3, .aboutUs__icons__item4{
    width: 11rem;
}
.aboutUs__icons__item1{
    background: url(/img/aboutUs-icon1.png) no-repeat left center;
    height: 50px;
}
.aboutUs__icons__item2{
    background: url(/img/aboutUs-icon2.png) no-repeat left center;
    height: 50px;

}
.aboutUs__icons__item3{
    background: url(/img/aboutUs-icon3.png) no-repeat left center;
    height: 50px;

}
.aboutUs__icons__item4{
    background: url(/img/aboutUs-icon4.png) no-repeat left center;
    height: 50px;

}
.aboutUs__text.row {
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: .9em;
    font-family: OpenSans-Regular;
}
/* о компании конец */
/* доверие клиентов старт */
.confidence.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.confidence__H1 {
    text-transform: uppercase;
    font-family: OpenSans-SemiBold;
    font-size: 1.2em;
    margin-bottom: 1rem;
}
.confidence__line {
    width: 44px;
    height: 3px;
    background-color: #d74b4b;
    margin-bottom: 1rem;
}
.confidence__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1rem;
}
.confidence__icons__item1{
    background: url(/img/client-logo1.png) no-repeat center center / 100%;
    height: 100px;
    width: 61.6rem;
}
.confidence__icons__item2{
    background: url(/img/client-logo2.png) no-repeat center center / 100%;
    height: 100px;
    width: 100%;
}
.confidence__icons__item3{
    background: url(/img/client-logo3.png) no-repeat center center / 100%;
    height: 100px;
    width: 100%;
}
.confidence__icons__item4{
    background: url(/img/client-logo4.png) no-repeat center center / 100%;
    height: 100px;
    width: 100%;
}
.confidence__icons__item5{
    background: url(/img/client-logo5.png) no-repeat center center / 100%;
    height: 100px;
    width: 100%;
}
.confidence__nav.container-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
}
.confidence__nav div:nth-of-type(1) {
    background: url(/img/confidence-nav1.png) no-repeat center center;
    height: 19px;
    width: 12px;
    padding-right: 3rem;
}
.confidence__nav div:nth-of-type(2) {
    background: url(/img/confidence-nav2.png) no-repeat center center;
    height: 19px;
    width: 12px;
    padding-left: 3rem;
}
/* доверие клиентов конец */
/* карта старт */
.map__top-border.row {
    height: 4px;
    background: -webkit-gradient(linear, left bottom, left top, from(#b01f5b), to(#df4a4a));
    background: -webkit-linear-gradient(bottom, #b01f5b, #df4a4a);
    background: -o-linear-gradient(bottom, #b01f5b, #df4a4a);
    background: linear-gradient(to top, #b01f5b, #df4a4a);
}
.map.container-fluid {
   /* max-width: 1300px;
    display: flex;
    flex-direction: column;*/
}
ymaps.ymaps-2-1-68-controls__toolbar_left {
    display: none;
}
ymaps.ymaps-2-1-68-controls__toolbar_right {
    display: none;
}
ymaps.ymaps-2-1-68-controls__control {
    /*display: none;*/
    /*скрыть кнопки массштаба*/
}
ymaps.ymaps-2-1-68-copyright.ymaps-2-1-68-copyright_logo_no {
    display: none;
}
ymaps.ymaps-2-1-68-map-copyrights-promo {
    display: none;
}
ymaps.ymaps-2-1-68-controls__bottom {
    display: none;
}
/* карта конец */
/* футер старт */
.footer.container-fluid{
    background-color: #454545;
    color: #ffffff;
    /*max-width: 1300px;
    width: 100%;
    height: 103px;*/
}
.footer__nav1 a:hover {
    color: #D74B4B;
}
.footer__nav1 a {
    color: #ffffff;
}
.footer__address-wrapper {
    width: 184px;
}
.footer__contacts {
    font-family: OpenSans-SemiBold;
    font-size: .65em;
    height: 103px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.footer__address {
    background: url(/img/place.png) no-repeat 0rem 1.5rem / 1rem, url(/img/mail.png) no-repeat 0rem 3.3rem / 1rem;
    padding-top: 1.2rem;
    font-family: OpenSans-Regular;
    font-size: .65em;
    height: 76px;
    width: 100%;
}
.footer__address p:nth-of-type(1) {
    text-align: left;
    padding-left: .6rem;
}
.footer__address p:nth-of-type(2) {
    text-align: left;
    padding-top: .4rem;
    padding-left: .6rem;
}
.footer__contacts p:nth-of-type(1){
    padding-top: 17px;
    background: url(/img/phone.png) no-repeat left 1.6em / 1rem;
    padding-left: 1.4rem;
    padding-bottom: 1rem;
}
.footer__contacts p:nth-of-type(3) {
    padding-top: 8px;
    background: url(/img/watsup.png) no-repeat left 0.4em/ 1rem, url(/img/vk-icon.png) no-repeat 2rem 1.5rem/ 1rem, url(/img/fb-icon.png) no-repeat 3.9rem 1.5rem/ 1rem, url(/img/inst-icon.png) no-repeat 5.9rem 1.5rem/ 1rem;
    padding-left: 1.4rem;
    padding-bottom: 2rem;
}
.footer-row2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #303030;
    font-family: OpenSans-Regular;
    font-size: .8em;
}
.footer-row2 div:nth-of-type(1){
    padding-left: 14px;
}
.footer-row2 div:nth-of-type(2){
    padding-right: 14px;
}
.footer__nav1 {
    padding-top: 1.5rem;
    font-family: OpenSans-Regular;
    font-size: .8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.footer__nav1 a:nth-of-type(1), a:nth-of-type(2) {
    padding-right: 1rem;
}
.footer__contacts-wrapper {
    padding-left: 2.8rem;
}
/* футер конец */


@media (min-width: 1140px){
    .header__logo__img, .footer__logo__img {
        background: url(/img/logo__main.png) center / 100% no-repeat;
        max-height: 31px;

    }
}